
<!--  ----------------------------------------------------------------------  -->
<!--  NOTE: Please add the following <META> element to your page <HEAD>.      -->
<!--  If necessary, please modify the charset parameter to specify the        -->
<!--  character set of your HTML page.                                        -->
<!--  ----------------------------------------------------------------------  -->

<META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8">



<!-- for table header -->	
<link rel="stylesheet" type="text/css" href="css/normal.css">
<link rel="stylesheet" type="text/css" href="css/topmenu.css">
<link type="text/css" rel="stylesheet" href="css/validationEngine.jquery.css">
<style>
P {cellpadding:0;cellspacing:0;font-family:"Verdana";font-size:9pt;border:0px solid #BCBABA}
</style>
<!--  ----------------------------------------------------------------------  -->
<!--  NOTE: Please add the following <FORM> element to your page.             -->
<!--  ----------------------------------------------------------------------  -->

<a class="Header" ><img src="images/Logo.jpg" width="359" height="60" border="0"></a>


<table class="Header" width="100%" style="background-color:#5d5f67;border:1px solid #000000">
            
  <tbody>
              
    <tr> 
                
      <td class="Header" height="20" width="150" align="left" style="background-color:#5d5f67">&nbsp;</td>
      <td class="Header" align="left" style="background-color:#5d5f67">&nbsp;
                	 
				 </td>
      
    </tr>
            
  </tbody>
          
</table>
<p>Thank you for your interest in GLOBALFOUNDRIES.  We will be contacting you shortly.</p>
<p>If you do not hear back from us promptly, please contact the following individuals from your region.</p>
<p>US and North America - Wahby Bekka, <a href="mailto:Wahby.Bekka@globalfoundries.com">Wahby.Bekka@globalfoundries.com</a><br>
  Asia Pacific and Japan - Tins Chao, <a href="mailto:Tins.Chao@globalfoundries.com">Tins.Chao@globalfoundries.com</a> <br>
  Europe and Middle East - Charles Derby, <a href="mailto:Charles.Derby@globalfoundries.com">Charles.Derby@globalfoundries.com</a><br>
  Others - Jerome Fohet, <a href="mailto:Jerome.Fohet@globalfoundries.com">Jerome.Fohet@globalfoundries.com</a></p>
<p><br>
  Sincerely,  </p>
<p>The Team at GLOBALFOUNDRIES</p>
