@charset "UTF-8";
/* CSS Document */

body{
margin:0px;
padding:0px;
 font-family: 'Raleway', sans-serif;
  font-size: 16px;	
}
p {
  line-height:26px;
  margin:20px 0;
}
a{
text-decoration:none;
color:#486B7E;	
}
a:hover{
opacity:0.7;
filter:alpha(opacity=70); /* For IE8 and earlier */	
}
ul{
margin:0px;
padding:0px;	
}
.clearfix{
clear:both;	
}
#top-nav{
height:43px;
background-color:#DDDDDD;
 min-width: 1200px;
}
#nav{
height:80px;
background-color:#333;	
 min-width: 1200px;
	
}
.wrapper{
width:1200px;
margin:0px auto;	
}
#banner{
min-width:1200px;
}
img {
    border: 0 none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
h1, h2, h3, h4, h5{
margin:0 0 20px 0;	
}
h1{
font-weight:200;
font-size:60px;	
letter-spacing:-1px;
color:#333;
}
h2 {
    color: #333333;
    font-size: 27px;
    font-weight: 400;
    letter-spacing: 0;
    padding: 0 0 13px;
}

.banner-strip{
	background-image:url(../images/banner-strip.png);
	background-repeat:repeat-x;
	height:38px;	
}
.pull-left{
	float:left;
}
.pull-right{
	float:right;
}
.top-nav-inner {
	margin:10px 0 0 0;
   
}
.selected{
border-bottom:3px solid #F96F22;	
}
.nav-inner {
    margin: 24px 0 0;
}
.logo {
    margin: 16px 0 0;
}
.top-nav-inner li {
    color: #333333;
    display: inline;
    list-style-type: none;
    margin: 0 0 0 33px;
}
.nav-inner li {
    color: #FFFFFF;
    display: inline;
    font-size: 23px;
    font-weight: 200;
    list-style-type: none;
    margin: 0 0 0 33px;
}
.button {
    background-image: url("../images/blue-button.png");
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-size: 25px;
    height: 56px;
    padding: 12px 0 0 19px;
    width: 262px;
}
.column6, .column5, .column4, .column3, .column2, .column1, .column75, .three-quarter, .one-quarter{
float:left;
}


.column6{
width:16.666%;	
}
.column5{
width:20%;	
}
.column4{
width:25%;	
}
.column3{
width:33%;	
}
.column2{
width:50%;
}
.column1{
width:100%;	
}
.column75{
width:75%;	
}
.margin-right-34{
margin-right:34px;	
}
.three-quarter {
    width: 796px;
}
.one-quarter {
    width: 366px;
}
#content-one{
margin:20px 0 0 0;	
 min-width: 1200px;
}
.title {
    font-size: 24px;
    margin: 42px 0;
}
.title-2 {
    font-size: 18px;
    margin: 22px 70px 42px 0;
}
#content-two {
    background-color: #333333;
    color: #FFFFFF;
    margin: 57px 0;
    padding: 80px 0;
	 min-width: 1200px;
}
#content-two h2 {
    color: #FFFFFF;
}
.quick-links {
    list-style-image: url("../images/quick-link-icon.png");
    margin: 0 0 0 33px;
    padding: 10px 0 0;
}
.quick-links a{
color:#fff;
}
.quick-links li{
margin:16px 0;
}
#footer{
	text-align:center;	
	 min-width: 1200px;
}
.footer-nav {
    margin: 20px 0 40px;
}
.footer-nav li{
	list-style-type:none;
	display:inline;
	color:#FF5B00;	
	margin:0 20px;
}
.footer-color {
    background-color: #DFE4E8;
    margin: 40px 0 0;
    padding: 89px 0 30px;
}
.social img{
margin:0 5px 0;	
}
.copyright{
color:#476B7E;	
}
.statement {
    font-size: 14px;
    margin: 31px 0 61px;
    padding: 0 69px;
}
.communities {
    color: #FF5B00;
    font-size: 24px;
    margin: 0 20px 24px 368px;
}
.left-column{
	width:820px;	
	
}
.right-column {
    background-color: #DFE4E8;
    margin: 0 0 0 30px;
    padding: 33px 40px;
    width: 270px !important;
}
.related-content li {
    color: #457787;
    font-size: 19px;
    list-style-type: none;
    margin: 10px 0;
}
.related-content{
	margin:0 0 40px 0;
}
.margin-top-30{
margin-top:30px;	
}
.right-bar-caption {
    margin: 0 0 23px 20px;
    width: 181px;
}
.right-bar-caption p {
    color: #333333;
    font-size: 14px;
    margin: 10px 0;
}
.right-bar-caption h3 {
    color: #333333;
    font-weight: 400;
    margin: 0;
}
.breadcrumb {
    margin: 37px 0 0 0 !important;
}
.rsmLink{
font-size:18px;
font-weight:200;
font-family: 'Raleway', sans-serif;	
}