
@charset "UTF-8";
/* CSS Document */

@media only screen and (min-width: 1024px) and (max-width: 1199px) {

#home-wrapper {
    width: 1024px;
}
#nav {
    width: 1024px;
     min-width: 1024px;
}
.wrapper {
    background: none repeat scroll 0 0 #ffffff;
    margin: 0 auto;
    width: 1024px;
}
#banner {
    min-width: 1024px;
    width: 1024px;
}
#footer {
     min-width: 1024px;
    width: 1024px;
}
.sf_2cols_1_67 {
    width: 63% !important;
}
.content {
    width: 995px;
}
}
@media only screen and (min-width: 1px) and (max-width: 1023px){

/* Sitefinity Overrides */
    .sf_colsOut sf_3cols_1_33, .sf_colsOut sf_3cols_2_34, .sf_colsOut sf_3cols_3_33, .sf_3cols_1_33, .sf_3cols_1_33, .sf_3cols_3_33, .sf_3cols_2_34, .sf_4cols_1_25, .sf_4cols_2_25, .sf_4cols_3_25, .sf_4cols_4_25, .sf_5cols_1_20, .sf_5cols_2_20, .sf_5cols_3_20, .sf_5cols_4_20, .sf_5cols_5_20, .sf_2cols_1_25, .sf_2cols_2_75, .sf_2cols_1_33, .sf_2cols_2_67, .sf_2cols_1_50, .sf_2cols_2_50, .sf_2cols_1_67, .sf_2cols_2_33, .sf_2cols_1_75, .sf_2cols_2_25, .sf_3cols_1_25, .sf_3cols_2_50, .sf_3cols_3_25 
    {width:100% !important;}
    .sf_3cols_2_34 .sf_3cols_2in_34, .sf_3cols_3_33 .sf_3cols_3in_33, .sf_4cols_2_25 .sf_4cols_2in_25, .sf_4cols_3_25 .sf_4cols_3in_25, .sf_4cols_4_25 .sf_4cols_4in_25, .sf_5cols_2_20 .sf_5cols_2in_20, .sf_5cols_3_20 .sf_5cols_3in_20, .sf_5cols_4_20 .sf_5cols_4in_20, .sf_5cols_5_20 .sf_5cols_5in_20, .sf_2cols_2_67 .sf_2cols_2in_67, .sf_2cols_2_50 .sf_2cols_2in_50, .sf_2cols_2_33 .sf_2cols_2in_33, .sf_2cols_2_25 .sf_2cols_2in_25, .sf_3cols_2_50 .sf_3cols_2in_50, .sf_3cols_3_25 .sf_3cols_3in_2 {
    margin-left: 0px !important;
}

#home-wrapper {
    width: 90%;
}
#nav {
    width: 90%;
     min-width: 90%;
}
.wrapper {
    width: 90%;
}
#banner {
    min-width:100%;
    width: 100%;
}
#footer {
     min-width: 90%;
    width: 90%;
}
.content {
    width: 90%;
}
.sf_2cols_2_33 {
    float: left;
    width: 100% !important;
}
.communities {
    margin: 20px 0 !important;
}
.sf_2cols_2_33 {
    float: left !important;
    width: 75% !important;
}
.logo {
    margin: 0 0 0 -12px;
}
.logo img {
    width: 100%;
}
.search .sfsearchTxt {
    width: 102%;
}
.top-nav-inner {
    float: left;
    margin: 0 0 0 -32px;
}
.pull-right {
    clear: left;
    float: left;
}
.footer-nav li {
    display: flex;
    margin: 10px 0;
}
.statement {
    font-size: 14px;
    margin: 20px 0;
    padding: 0 0 30px;
    text-align: left;
}
#nav {
    display: none;
}

}
@media only screen and (min-width: 1px) and (max-width: 480px){


.sfsearchSubmit {
    margin: 0 0 13px;
    width: 105% !important;
}
#footer {
    text-align: left;
}

    }
