@model List<SitefinityWebApp.Mvc.Models.SubpageSideNavigationModel>

<ul class="subpage-navigation">
    @foreach (var subPage in Model)
    {
        <li> 
            <a href="@subPage.Url">@subPage.Page.Title</a>
           
        </li>
    }

</ul>